<div class="example-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column;">

      <mat-form-field>
        <input matInput type="text" placeholder="Name" [formControl]="nameFormControl" required
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Email" [formControl]="emailFormControl" required
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" [formControl]="passwordFormControl" placeholder="Password" required
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" [formControl]="confirmPasswordFormControl" placeholder="Confirm password"
          required [errorStateMatcher]="matcher">
        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex;justify-content: flex-end;">
        <button mat-button (click)="onReset()">Reset</button>
        <button mat-raised-button (click)="onRegistration()">Register</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
