<div dir="RTL">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="thirdFormGroup" *ngFor="let question of questions; let first = first; let last = last">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ question.question }}</ng-template>
        <mat-radio-group style="display: flex;flex-direction: column;" 
        formControlName="thirdCtrl"
          aria-label="Select an option">
          <mat-radio-button *ngFor="let option of question.options; let i = index;" style="padding: 8px;" 
          [value]="i + 1" (click)="stepper.next()">{{ option }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button *ngIf="!last" mat-raised-button matStepperNext>Next</button>
          <button *ngIf="last" mat-raised-button routerLink="/report">Submit</button>
          <button *ngIf="!first" mat-raised-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
<!-- 
<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Risk</ng-template>
                <mat-radio-group style="display: flex;flex-direction: column;" formControlName="thirdCtrl" aria-label="Select an option">
                    <mat-radio-button style="padding: 8px;" value="1">High</mat-radio-button>
                    <mat-radio-button style="padding: 8px;" value="3">Medium</mat-radio-button>
                    <mat-radio-button style="padding: 8px;" value="2">Low</mat-radio-button>
                </mat-radio-group>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div style="padding-top: 32px;">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button routerLink="/report">Submit</button>
        </div>
    </mat-step>
</mat-vertical-stepper> -->
